[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
game = "python NoLove.py"
build = "pyinstaller --windowed NoLove.spec"
build-win = "pyinstaller --windowed --onefile NoLove.spec"

[packages]
pygame = "*"

[dev-packages]
autopep8 = "*"
pyinstaller = "*"
rope = "*"
pywin32-ctypes = "*"

[requires]
python_version = "3.9"
